@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.header {
    width: 100%;
    padding: 0 5%;
    margin: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: top 0.5s ease-in-out, opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}

.header:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    height: 100px; /* Ajustado para um visual mais equilibrado */
    width: auto;
    display: flex;
    align-items: center; /* Alterado de justify-content para center para centralizar verticalmente */
}

.navLinks {
    width: 75%; /* Reduzido para melhor distribuição dos itens */
    transition: color 0.2s, transform 0.3s ease-in-out; /* Simplificação das transições */
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4%; /* Ajustado o gap para um espaçamento mais agradável */
}

.link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease, border-bottom 0.3s ease; /* Ajustado para uma transição mais suave */
    border-bottom: 3px solid transparent;
    border-radius: 3px;
    padding: 4px; /* Adicionado padding para melhorar o clique e visual */
}

.link:hover {
    color: #0057F9;
    transform: scale(1.1);
    border-bottom: 3px solid #0057F9; /* Melhor visual e mais coeso com o hover color */
}

.icons {
    display: flex;
    align-items: center;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 24px;
    color: #0f4577;
    transition: color 0.3s ease; /* Transição suave para a cor */
}

.icon-button:hover {
    color: #0057F9; /* Alterado para corresponder ao hover dos links */
}

.absolute {
    top: -100px;
    opacity: 0;
    transition: top 0.5s ease, opacity 0.3s ease; /* Mantido para uma transição suave */
}

.absolute.active {
    top: 0;
    opacity: 1;
    transition: top 0.5s ease, opacity 0.3s ease;
}
